#auth-overlay {
  position: fixed;
  top: 3.75rem;
  z-index: 10;
  right: 1rem;

  &.hidden { display: none; }
}

.auth-flow-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 300px);
  width: max-content;

  background: themed("color-section");
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.75rem -0.25rem themed("color-background");

  form.simple_form {
    // Revert changes from .simple_form
    background: unset;
    margin: 0;
    padding: 0;
    border-radius: unset;
  }
}
